<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://unpkg.com/vue@next" ></script>
    <script src="TeachExamEdit.js" defer></script>
    <link rel="stylesheet" href="TeachDash.css" />
    <title>Exam edit</title>
  </head>
  <body id="exam-edit-page">
    <nav class="navbar navbar-light fixed-top bg-light">
      <div class="container-fluid">
        
        <a class="navbar-brand" href="#">
          <img src="https://icon-library.com/images/flat-edit-icon/flat-edit-icon-0.jpg" alt="" width="33" height="33" class="d-inline-block align-text-top">
          Online Exam App - Teacher Mode
        </a>



        <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
          <input type="radio"  class="btn-check" name="btnradio" id="btnradio1" autocomplete="off"  checked v-on:change="switchModes">
          <label class="btn btn-outline-success"  for="btnradio1">Edit Exam</label>
        
          <input type="radio"  class="btn-check" name="btnradio" id="btnradio3" autocomplete="off"  v-on:change="switchModes" >
          <label class="btn btn-outline-success"  for="btnradio3">Show Grades</label>
          
        </div>
      </div>
    </nav>
    <p>&ensp;</p>
    <p>&ensp;</p>
    <div class="container mt-5" >
      <!--enter new question section-->

<div class="container mt-5" v-if="showGradesMode">
  <h1>{{ examTitle }}</h1> 
  <p>{{ examDate }}</p>
  <h3 v-if="!isTheCurrentExmaHasStarted" style="color: crimson;">This exam has not started yet.</h3>







</div>


<div class="container mt-5" v-if="editExamMode" id="add-new-question">
    <div class="card question-card shadow" style="width: 55rem;">
      <div class="jumbotron ">
          <div class="container">
            <h1 class="display-4" v-if="addNewQuestionState">Enter a new question:</h1>
            <h1 class="display-4" v-if="editState">Edit the selected question({{whichQuestionToEdit+1}}):</h1>
            
              <div class="container">
                <div class="row">
                   <div class="col-10">
                     <input type="text" v-model="newQuestionToSend.question" class="form-control " placeholder="Enter the question text here:" aria-label="Question">
                   </div>
                   <div class="col-2">
                     <input type="text" v-model="newQuestionToSend.score" class="form-control " placeholder="score" aria-label="score">
                    </div>
                  </div>
                </div>
              </div>
          </div>
          <hr class="my-4">

          <div class="container">
              <div class="row">
                  <div class="col">
                    <div class="input-group flex-nowrap">
                        <span class="input-group-text" id="addon-wrapping">1</span>
                        <input type="text" v-model="firstQuestionToAdd" class="form-control" placeholder="Answer 1" aria-label="Username" aria-describedby="addon-wrapping">
                      </div>
                  </div>
                  <div class="col">
                    <div class="input-group flex-nowrap">
                        <span class="input-group-text" id="addon-wrapping">2</span>
                        <input type="text" v-model="secondQuestionToAdd" class="form-control" placeholder="Answer 2" aria-label="Username" aria-describedby="addon-wrapping">
                      </div>
                  </div>
              </div>
              <div class="row">
                <div class="col">
                    <div class="input-group flex-nowrap">
                        <span class="input-group-text" id="addon-wrapping">3</span>
                        <input type="text" v-model="thirdQuestionToAdd" class="form-control" placeholder="Answer 3" aria-label="Username" aria-describedby="addon-wrapping">
                      </div>
                </div>
                <div class="col">
                    <div class="input-group flex-nowrap">
                        <span class="input-group-text" id="addon-wrapping">4</span>
                        <input type="text" v-model="fourthQuestionToAdd" class="form-control" placeholder="Answer 3" aria-label="Username" aria-describedby="addon-wrapping">
                      </div>
                </div>
            </div>
          </div>
            <hr>
            <div class="container">
            <div class="row">
                <div class="col-1  mb-4"><a class="btn btn-success btn-lg" v-on:click="submitNewQuestion" href="#" role="button">Add</a></div>
                <div class="col-1  mb-4"><a class="btn btn-warning btn-lg" v-on:click="clearEditOrNewFields" href="#" role="button">Clear</a></div>
                <div class="col-1"></div>
                <div class="col-7"></div>
                <div class="col-2  mb-4 ml-1"><a class="btn btn-danger btn-lg" v-if:="editState" v-on:click="switchToAddNewQuestionState" href="#" role="button">Cancel</a></div>
                
            </div>

          </div>
          
        </div>
  </div>

<p>&ensp;</p>
<hr>
<p>&ensp;</p>


  <!--list of question added-->
  <div class="mt-3" v-if="editExamMode">
    <ul >
      
       <question-list-item
          v-for="(questionObj,index) in questionArray"
          :key="index"
          :question="questionObj"
          :indx="index"
        ></question-list-item>
      
    </ul>
  </div>

  </div>







    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>

  </body>
</html>